/*@media only screen and (max-width : 700px){*/
	body {
		font-size: 17pt;
	}
	
.luckiest-guy-regular {
	font-family: "Luckiest Guy", cursive;
	font-weight: 400;
	font-style: normal;
}
	
	/* .navbar {
    width: 100%;
    height: 75px;
    background-color: green;
    position: fixed;
    bottom: 0;
    left: 0;
}
  .navbaritem {
    width: 25%;
    float: left;
    border-radius: 10px;
}

	.navbaritem input {
    width: 48px;
    height: 48px;
    float: none;
    margin-left: 25%;
    margin-top: 10%;
}
	 */
	
	#sort {
		width: fit-content; /* Adjust width to content */
    margin: 0 auto; /* Centers horizontally */
		padding: 30px 10px;
		font-size: ;
	}
	
	h1{
		text-align: center;
		}

	
	
	
		
	.list {
		align-content: ;
		justify-content: ;
		width: ;
		background-color: ;
		padding: 20px 50px;
		margin: 20px;
		font-size: ;
	}

	.catgories, th {
		font-size: 17pt;
}
	
	table {
		margin: auto;
		font-size: ;
	}
	
	tr {
		padding: 10px;
		margin: 10px;
		background-color: ;
}

	td {
		margin: 10px;
		padding: 20px 30px;
		background-color: ;
	}
	


/*
@media only screen and (max-width : 1281px) and (min-width : 701px){
	
}

@media only screen and (max-width : 1600px) and (min-width : 1281px){
	
}*/
